<!DOCTYPE html>
<html>
<head>
	<title>Trip Itenerary/title>
</head>
<body>
	<h1>Your Trip</h1>
	<table>
		<tr>
			<td><%= city1 %></td>
			<td>0</td>
			<td><%= city1.weather %></td>
		</tr>
		<tr>
			<td><%= city2 %></td>
			<td><%= distance %></td>
			<td><%= city2.weather %></td>
		</tr>
	</table>	
</body>
</html>