<!DOCTYPE html>
<html>
<head>
	<title>Trip Itinerary</title>
</head>
<body>
	<h1>Your Trip</h1>
	<table>
		<tr>
			<th>City</th>
			<th>Distance</th>
			<th>Weather</th>
		<tr>
		<tr>
			<td><%= origin.name %></td>
			<td>0</td>
			<td><%= origin.weather %></td>
		</tr>
		<tr>
			<td><%= dest.name %></td>
			<td><%= distance %></td>
			<td><%= dest.weather %></td>
		</tr>
	</table>	
</body>
</html>